{% if 'administrador' in rol %} {% include 'admin.html' %} {% else %} {% include 'user.html' %} {% endif %} {% block section
%}
<div class="row col-sm-offset-3 col-sm-6">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading">Datos del Usuario: {{usuario.username|title}}</div>
            <div class="panel-body">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">Nombre:</span>
                    <input type="text" class="form-control" value="{{usuario.first_name |title}}" aria-describedby="basic-addon1">
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">Apellido:</span>
                    <input type="text" class="form-control" value="{{usuario.last_name |title}}" aria-describedby="basic-addon1">
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">Nombre de Usuario:</span>
                    <input type="text" class="form-control" value="{{usuario.username}}" aria-describedby="basic-addon1">
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">E-mail:</span>
                    <input type="text" class="form-control" value="{{usuario.email}}" aria-describedby="basic-addon1">
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">Roles:</span>
                    {% for roles in rol %}
                    <input type="text" class="form-control" value="{{roles |title}}" aria-describedby="basic-addon1"> {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block footer %} {% include 'footer.html' %} {% endblock %}